<h1>Heroes list</h1>
<hr>
<div class="row">
  <div class="col text-right">
    <button class="btn btn-primary" routerLink='/heroe/new'>
      <i class="fa fa-plus"></i>
      Add
    </button>
  </div>
</div>
<table class="table table-striped table-dark mt-4">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Skill</th>
      <th scope="col">live</th>
      <th scope="col">Tools</th>
    </tr>
  </thead>
  <tbody *ngFor="let heroe of heroes; let i = index">
    <tr>
      <th scope="row">{{ i + 1}}</th>
      <td>{{heroe.name}}</td>
      <td>{{heroe.skill}}</td>
      <td>
        <label *ngIf="heroe.live" class="badge badge-success">live</label>
        <label *ngIf="!heroe.live" class="badge badge-danger">die</label>
      </td>
      <td>
        <button class="btn btn-info mr-1" [routerLink]="['/heroe', heroe.Id]">
          <i class="fa fa-pen"></i>
        </button>
        <button class="btn btn-danger ">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>

</table>

<div class="alert alert-warning text-center mt-3">
  <h4 class="alert-heading">No register</h4>
  <p>
    <i class="fa  fa-exclamation fa-2x"></i>
  </p>

</div>

<div class="alert alert-info text-center mt-3">
  <h4 class="alert-heading">load...</h4>
  <p>
    <i class="fa fa-sync-alt fa-spin fa-2x"></i>
  </p>
  <p class="mb-0">
    wait please
  </p>
</div>
